.button-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding-left: 0;
}

.button-nav__item:not(:last-child) {
    margin-right: 8px;
}

.button-nav__button {
    display: inline-block;
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    
    background-color: $back-team;
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    min-width: 67px;

    transition: background-color 250ms $time-function,
    color 250ms $time-function,
    box-shadow 250ms $time-function;

    &:hover,
    &:focus {
        color: $secondary-color;
        background-color: $accent-color;

        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12),
                    0 1px 2px rgba(0, 0, 0, 0.08),
                    0 3px 1px rgba(0, 0, 0, 0.1);
    }
}

.photo {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 16px;
    line-height: 1.88;
}

.gallery {
    border: 1px solid $frame;
    width: 370px;

    &:hover,
    &:focus {
        display: block;
        box-shadow:
             0px 1px 1px rgba(0, 0, 0, 0.12), 
            0px 4px 4px rgba(0, 0, 0, 0.06), 
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

 .gallery__link {
    text-decoration: none;
    transition: box-shadow 250ms $time-function;

    &:hover .gallery__overlay,
    &:focus .gallery__overlay {
        transform: translateY(0);
    }
}

.gallery__link:nth-last-child(-n + 3) {
    margin-bottom: 0;
} 
.gallery__item {
    padding: 20px 24px;
}

.gallery__img {
    position: relative;
    overflow: hidden;
}

.gallery__text {
    position: absolute;
    margin-bottom: 0;
    top: 63px;
    left: 24px;

    width: 322px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
    color: $secondary-color;
}

.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: $overlay;
    
    transform: translateY(100%);
    transition: transform 250ms $time-function;
}

.gallery__subtitle {
    margin-top: 0;
    margin-bottom: 0;
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.gallery__desk {
    margin-top: 4px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}