.menu-button {
    margin-left: auto;
    margin: 0;
    padding: 10px 0;
    border: 0;
    background-color: transparent;
}

.menu-button__close-menu {
    display: none;
}

.menu-button.is-open .menu-button__icon-menu {
    display: block;
}

.menu-button.is-open .menu-button__close-menu {
    display: none;
}