$frame: #EEEEEE;
$secondary-frame: #ECECEC;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$hero-btn-hover: #188CE8;
$secondary-color: #FFFFFF;
$back-color: #F5F5F5;
$back-hero: #2F303A;
$back-team: #F5F4FA;
$text-logo: #000000;
$icon-color: #AFB1B8;
$secondary-text-foot: rgba(255, 255, 255, 0.6);
$footer-back-link: rgba(255, 255, 255, 0.1);
$background: rgba(47, 48, 58, 0.8);
$overlay: rgba(33, 150, 243, 0.9);
$back-modal: rgba(0, 0, 0, 0.2);

$time-function: cubic-bezier(0.4, 0, 0.2, 1);